#blogs {
    width: 80%;
    height: 60%;
}

ul {
    margin :auto;
    padding: 0;
}

#blogs li {
    font-size: 2em;
    list-style-type: none;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
    background-color: #fff;
}

li:hover {
    cursor: pointer;
}