#contents {
overflow: auto;
}

#blogs {
    width: 80%;
    height: 60%;
}

ul {
    margin :auto;
    padding: 0;
}

#blogs li {
    font-size: 2em;
    list-style-type: none;
    font-style: normal;
    height: 100px;
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #fff;    
    text-align: center;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu ;
}

li:hover {
    cursor: pointer;
}