<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog List</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/list.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="header" class="opacity70">
        <ul class="title">
            <li>Snap</li>
            <li v-on:click="github">Github</li>
        </ul>
    </div>
    <div id="contents" class="opacity90" >
        <h1 id="category-title">{{ pageTitle }}</h1>
        <div id="blogs">
            <!-- 一级文章 -->
            <ul v-if="articles.length > 0" class="article-list">
                <li v-for="article in articles" class="opacity90" @click="jumpBlog(article)">
                    {{ article.title }}
                </li>
            </ul>
            <!-- 子分类 -->
            <div v-for="sub in subs" :key="sub.id" class="sub-category">
                <h2>{{ sub.label }}</h2>
                <ul class="article-list">
                    <li v-for="article in sub.articles" class="opacity90" @click="jumpBlog(article)">
                        {{ article.title }}
                    </li>
                </ul>
            </div>
            <p v-if="!loading && articles.length === 0 && subs.length === 0" class="empty">
                暂无文章
            </p>
        </div>
    </div>
    <div id="bottom" class="opacity70">
        <span>2018-2026</span>
    </div>
    <script src="../scripts/list.js"></script>
</body>
</html>